.work
   padding: 84px 0px 
   &__galery
      width: 100%
      display: flex
      @media (max-width: 768px)
         display: block
   &__galery-half
      width: 50%
      display: flex
      @media (max-width: 768px)
         width: 100%
   &__galery-column
      width: 50%
.w-item
   padding: 31.2% 0 21.5%
   position: relative
   min-height: 378px
   &_1
      background: url(../img/work1.png) center (center/cover) no-repeat
   &_2
      background: url(../img/work2.png) center (center/cover) no-repeat
   &_3
      background: url(../img/work3.png) center (center/cover) no-repeat
   &_4
      background: url(../img/work4.png) center (center/cover) no-repeat
   &_5
      background: url(../img/work5.png) center (center/cover) no-repeat
   &_6
      background: url(../img/work6.png) center (center/cover) no-repeat
   &_7
      background: url(../img/work7.png) center (center/cover) no-repeat
.w-inner
   position: absolute
   width: 100%
   height: 100%
   top: 0
   display: flex
   flex-direction: column
   align-items: center
   background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%)
   color: #FFFFFF
   opacity: 0
   @media (max-width: 768px)
      display: none
   &:hover
      opacity: 1
   &__icon
      margin-top: 20%
      width: 42px
      height: 42px
      @media (max-width: 1024px)
         width: 29px
         height: 29px
   &__title
      margin-top: 9%
      min-height: 50px
      display: flex
      align-items: center
      text-align: center
      p
         font-weight: 700
         font-size: 24px
         line-height: 28px
         text-transform: uppercase
         @media (max-width: 1024px)
            font-size: 18px
            line-height: 21px
   &__descr
      min-height: 50px
      display: flex
      align-items: center
      p
         font-weight: 400
         font-size: 18px
         line-height: 21px
         @media (max-width: 1024px)
            font-size: 14px
            line-height: 16px
.work__galery-column_big
   align-self: stretch